<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>Janet Williams Art</title>
    <link rel="stylesheet" 
      href="/static/css/jquery-ui/jquery-ui-1.9.2.custom.min.css" />
    <link rel="stylesheet" href="/static/css/base.css" />
    {% block css %}
    {% endblock %}
  </head>
  <body>
<div id="container">
    <div id="top_outline"></div>
    
    <div id="middle_outline">
    
    <div id="header">
    
    <div id="nav_container">
    <ul id="nav">
        <li class="selected"><a href="home"><img src="../../static/image/home.png"></a></li>
        <li><a href="porfolio"><img src="../../static/image/porfolio.png"></a></li>
        <li><a href="event"><img src="../../static/image/events.png"></a></li>
        <li><a href="price"><img src="../../static/image/prices-and-ordering.png"></a></li>
        <li><a href="contact"><img src="../../static/image/contact.png"></a></li>
    </ul>
   </div><!--end nav_container--->
<div id="header_title"></div>
   </div><!--end header-->     
      {% block content %}
      {% endblock %}
      
    <div id="footer">
      <img src="../../static/image/footer.png" width="950px" height="2px">
      <div class="footer-line">Janet Williams | Saskatoon, SK, Canada</div>
      <div class="footer-line">p: 306.665.6324 | e:info@janetwilliamsart.ca</div>
    </div>
    </div><!--end middle_outline-->
    
    <div id="bottom_outline"></div>
    
</div>
    <script src="/static/js/jquery-1.8.3.js"></script>
    <script src="/static/js/jquery-ui-1.9.2.custom.js"></script>
    <script src="static/js/jquery.spasticNav.js"></script>
    <script type="text/javascript">
      $(document).ready(function(){
        $('.button').button();
      });
    </script>
    {% block script %}
    
    {% endblock %}
    <script type="text/javascript">
      $(document).ready(function(){
        $('#nav').spasticNav();
      });
    </script>  
  </body>
</html>
