{% extends "base.html" %}

{% block css %}
  <link rel="stylesheet" href="/static/css/content.css"/>
{% endblock %}

{% block content %}
<div class="outer-container">
  <div class="container">
    <div class="title">
      <img src="/static/image/commitionedwork.png"/>
    </div> 
    <div class="content">
      {% if edit %}
      <form action="/commitionwork" method="post">
        <textarea name="content">{{ content.content }}</textarea>
      </form>
      {% else %}
        <div>
          {{ content.content or '' }}
        </div>
        {% if admin %}
          <div><a class="button" href="/commitionwork?edit=edit">Edit</a></div>
        {% endif %}
      {% endif %}
    </div>
  </div>		
</div>
{% endblock %}

{% block script %}
<script src="/static/js/slides.min.jquery.js"></script>
<script src="/static/js/ckeditor/ckeditor.js"></script>
<script type="text/javascript">
  $(function(){
    $('#nav').spasticNav({select: '.commitionwork'});
    CKEDITOR.replace('content');
  });
</script>
{% endblock %}

