{% extends "base.html" %}

{% block css %}
  <link rel="stylesheet" href="/static/css/contact.css"/>
{% endblock %}

{% block content %}
<div id="contact_container"> 
  <div class="contact-container"> 
    <div class="contactjanet-title"> 
      <img src="/static/image/contactjanet.png"/>
    </div>
    <div class="contact-content">
      {% if edit %}
      <form action="/contact" method="post">
        <textarea name="content">{{ content.content }}</textarea>
      </form>
      {% else %}
        <div>
          {{ content.content or '' }}
        </div>
        {% if admin %}
          <div><a class="button"
            href="/contact?edit=edit">Edit</a>
          </div>
        {% endif %}
      {% endif %}
    </div>
  </div>		
</div>
{% endblock %}

{% block script %}
<script src="/static/js/ckeditor/ckeditor.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
    $('#nav').spasticNav({select: '.contact'});
    CKEDITOR.replace('content');
  });
</script>
{% endblock %}

