{% extends "base.html" %}

{% block css %}
  <link rel="stylesheet" href="/static/css/event.css"/>
{% endblock %}

{% block content %}
<form action="/delete?key={{ obj.key() }}" method="post">
  <div>
    Are you sure you want to delete 
    <a href="{{ obj_url }}">{{ obj.kind() }} {{ obj.id }}</a>?
  </div>
  <input type="hidden" name="success_url" value="{{ success_url }}">
  <a href="{{ obj_url }}" class="button">Back</a>
  <input type="submit" class="button" value="Delete"/>
</form>
{% endblock %}


