{% extends "base.html" %}

{% block css %}
  <link rel="stylesheet" href="/static/css/event.css"/>
{% endblock %}

{% block content %}
<div id="event_container">
 <div class="event-container">
	  <div class="event-title"><img src="../../static/image/upcomingevents.png"></div>
	  <div class="event-content">
	
	
	  </div>
	  
	  </div>		
	</div>
{% endblock %}

{% block script %}
<script src="../../static/js/slides.min.jquery.js"></script>
<script type="text/javascript">
  $(function(){
    $('#nav').spasticNav({select: '.events'});
  });
</script>
{% endblock %}

