{% extends "base.html" %}

{% block css %}
  <link rel="stylesheet" href="/static/css/home.css"/>
{% endblock %}

{% block content %}
<div id="home_container">
  <div id="example">
    <div id="slides">
      <div class="slides_container">
        {% for picture in slider_pictures %}
        <a href="/porfolio?picture_id={{ picture.id }}">
          <img src="{{picture.serving_url}}&width=700" 
            width="700" height="350" alt="{{ picture.title }}"/>
        </a>
        {% endfor %}
      </div>
      <a href="#" class="prev"><img src="../../static/image/arrow-prev.png" width="24" height="43" alt="Arrow Prev"></a>
      <a href="#" class="next"><img src="../../static/image/arrow-next.png" width="24" height="43" alt="Arrow Next"></a>
    </div>
    <img src="../../static/image/frame.png" alt="Example Frame" id="frame">
  </div>


</div>

<div class="me-container">
  <div class="me-title"><img src="../../static/image/aboutjanet.png"></div>
  <div class="me-content">
    {% if edit %}
    <form action="/home" method="post">
      <textarea name="content">{{ content.content }}</textarea>
    </form>
    {% else %}
      <div>
        {{ content.content or '' }}
      </div>
      {% if admin %}
      <div><a class="button"
          href="/home?edit=edit">Edit</a>
      </div>
      {% endif %}
    {% endif %}
  </div>
</div>	

{% endblock %}

{% block script %}
<script src="/static/js/slides.jquery.js"></script>
<script src="/static/js/ckeditor/ckeditor.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
    $('#slides').slides({
      preload: true,
      preloadImage: '/static/image/loading.gif',
      play: 5000,
      pause: 2500,
      hoverPause: true
    });

    $('#nav').spasticNav({select: '.home'});
    {% if edit %}
        CKEDITOR.replace('content');
    {% endif %}
  });
</script>
{% endblock %}

