{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="/static/css/form.css" type="text/css"/>
{% endblock %}

{% block content %}
<div class="allform">
<form action=
  {% if form.instance and form.instance.id %}
    "/picture_edit?_id={{ form.instance.id }}" 
  {% else %}
    "/picture_edit?gallery_id={{ form.fields.gallery_id }}" 
  {% endif %}
  enctype="multipart/form-data" method="post">

  <div class="ftitle">
    <label for="title">Title: </label>
    <input type="text" name="title" value="{{ form.fields.title }}"/>
    {% if 'title' in form.errors %}
      <span class="error">   {{ form.errors.title }}</span> 
    {% endif %}
  </div>
  <div class="ftitle">
    <label for="author">Author: </label>
    <input type="text" name="author" value="{{ form.fields.author }}"/>
     {% if 'author' in form.errors %}
      <span class="error">{{   form.errors.author }}</span> 
    {% endif %}
  </div>
  <div class="ftitle">
    <label>Use as porfolio icon: </label>
    <input style="width:20px; height:20px" type="checkbox" name="gallery_icon" 
      value="true" {% if form.fields.gallery_icon %}checked{% endif %}/>
  </div>
  <div class="ftitle">
    <label>Use as slider picture: </label>
    <input style="width:20px; height:20px" type="checkbox" name="slider" 
      value="true" {% if form.fields.gallery_icon %}checked{% endif %}/>
  </div>
  <!--
  <div>
    <label for="width">Width: </label>
    <input type="text" name="width" value="{{ form.fields.width }}"/>
    <label for="height">Height: </label>
    <input type="text" name="height" readonly="true"
      value="{{ form.fields.height }}"/>
  </div>
  -->
  <div class="ftitle">
    <label>Media: </label>
    <input type="text" name="media" value="{{ form.fields.media }}"/>
  </div>
  <div class="ftitle">
    <label>Price: </label>
    <input type="text" name="price" value="{{ form.fields.price or '' }}"/>
     {% if 'price' in form.errors %}
      <span class="error">{{ form.errors.price }}</span> 
    {% endif %}
  </div>
  <div class="ftitle">
    <label>Original Available: </label>
    <input style="width:20px; height:20px" type="checkbox" name="original_available" value="true"
      {% if form.fields.original_available %}checked{% endif %}/>
  </div>
  <div class="ftitle">
    <label for="description">Description: </label>
    <textarea name="description" cols="40" rows="5"
      >{{ form.fields.description }}</textarea>
  </div>

  <div class="ftitle">
    
    <label for="image">Image: </label>
    {% if form.instance and form.instance.image %}
    {% if 'image' in form.errors %}
      <div span="error">{{ form.errors.image }}</span> 
    {% endif %}
      <div class="ftitle">
        <div>
          <label>Currently: </label>
          <a href="{{ form.instance.serving_url}}">image</a>
        </div>
        <div>
          <label>Change: </label>
          <input type="file" name="image"/>
        </div>
      </div>
    {% else %}
      <input style="width:180px; height:60px" type="file" name="image"/>
    {% endif %}
  </div>
  <input type="hidden" name="gallery_id" value="{{ form.fields.gallery_id }}"/>
  {% if form.instance %}
    <input type="hidden" name="_id" value="{{ form.instance.id }}"/>
  {% endif %}
  <div class="ftitle">
    <a href=
      {% if form.instance and form.instance.id %}
      "/porfolio?_id={{ form.fields.gallery_id }}&picture_id={{ form.instance.id}}"
      {% else %}
      "/porfolio?_id={{ form.fields.gallery_id }}"
      {% endif %} class="button">Cancel</a>
    <input type="submit" class="button" value="Save"/>
    {% if form.instance and form.instance.id %}
      <a class="button delete" href=
        "/delete?key={{ form.instance.key() }}&obj_url=%2Fpicture_edit%3F_id%3D{{ form.instance.id }}&success_url=%2Fporfolio%3F_id%3D{{ form.fields.gallery_id }}" 
        >Delete</a>
    {% endif %}
  </div>
</form>
</div>
{% endblock %}

{% block script %}
{% endblock %}

