{% extends "base.html" %}

{% block css %}
  <link rel="stylesheet" href="/static/css/showporfolio.css"/>
  <link rel="stylesheet" href="/static/css/porfolio.css"/>
{% endblock %}
{% block content %}

<div id="porfolio_nav_container">
  <div class="ad-nav">
    <ul class="ad-na-list">
      {% for gallery in gallery_list %}
      <li class="nav_thumb">
      <a href="/porfolio?_id={{ gallery.id }}">
        <img src="/picture?_id={{ gallery.icon.id }}&type=thumb" 
            alt="image not load correctly" class="icon"
          />
          <div class="nav-title">{{ gallery.title }}</div>
        </a>
      </li>
      {% endfor %}
    </ul>
  </div><!--end ad-nav-->
</div>

<div id="showporfolio_container">
  <div class="gallery-description">
    {{ gallery.description or '' }}
  </div>  
  <div id="gallery" class="ad-gallery">
    <div class="ad-image-wrapper"></div>
    <div class="ad-controls"></div>
    <div class="ad-nav">
      <div class="ad-thumbs">
        <ul class="ad-thumb-list">
        {% for picture in gallery.pictures %}
          <li class="picture">
            <a href="/picture?_id={{ picture.id }}" class="image">
              <img src="/picture?_id={{ picture.id }}&type=thumb"/>
            </a>
            <div class="picture_data" style="display:none;">
              {% if picture.title %}
              <h1>{{ picture.title }}</h1> 
              {% endif %}
               <div class="oneline"></div>
              <div class="left_col">
                {% if picture.author %}
                <div>{{ picture.author }}</div>
                {% endif %}
                {% if picture.width %}
                <div>{{ picture.width }}'' x {{picture.height}}''</div>
                {% endif %}
                {% if picture.media %}
                <div>{{ picture.media }}</div>
                {% endif %}
              </div>
              <div class="right_col">
                {% if picture.price %}
                <div>
                  <label>Price: </label>
                  <span>${{ picture.price }}-----
                {% endif %}

                {% if picture.original_available %}
               
                  <strong>Original Still Available</strong>  
                  <a href="mailto:info@janetwilliamsart.ca">contact Janet</a>
              </span>
                </div>
                {% endif %}
                {% if picture.description %}
                <div>{{ picture.description }}</div>
                {% endif %}

                {% if admin %}
                <div class="edit_button">
                  <a href="/picture_edit?_id={{ picture.id }}" 
                    class="edit button">Edit</a>
                </div>
                {% endif %}
              </div>
            </div>
          </li>
        {% endfor %}
        </ul>
      </div>
    </div>
    <div class="ad-image-description"></div>
  </div> <!-- end gallery -->
</div>

{% if admin %}
  <div class="pbutton">
    <a href="/gallery_edit" class="button">Add New Porfolio</a>
    {% if gallery %}
      <a href="/gallery_edit?_id={{ gallery.id }}" 
        class="button">Edit {{ gallery.title }}</a>
      <a href="/picture_edit?gallery_id={{ gallery.id }}" 
        class="button">Add New Image to {{ gallery.title }}</a>
    {% endif %}
  </div>
{% endif %}


{% endblock %}

{% block script %}
<script src="../../static/js/jquery.ad-gallery.js"></script>
<script src="/static/js/porfolio.js" type="text/javascript"></script>
{% endblock %}

