{% extends "base.html" %}

{% block css %}
  <link rel="stylesheet" href="/static/css/price.css"/>
{% endblock %}

{% block content %}
<div id="price_container">
 <div class="price-container">
	  <div class="price-title"><img src="../../static/image/pricesandordering.png"></div>
	  <div class="price-content">
	
	
	  </div>
	  
	  </div>		
	</div>
{% endblock %}	

{% block script %}
<script src="../../static/js/slides.min.jquery.js"></script>
<script type="text/javascript">
  $(function(){
    $('#nav').spasticNav({select: '.prices'});
  });
</script>
{% endblock %}

