{% extends "base.html" %}

{% block css %}
  <link rel="stylesheet" href="/static/css/showporfolio.css"/>

{% endblock %}
{% block content %}
<div id="showporfolio_container">

  <div class="gallery_sidebar">
    <ul>
      {% for gallery in gallery_list %}
      <li> 
        <a href="/porfolio?_id={{ gallery.id }}">
          <img src="/thumb?_id={{ gallery.thumb.id }}"/>
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
   
  <div id="gallery" class="ad-gallery">
    <div class="ad-image-wrapper">
    </div>
    <div class="ad-controls">
    </div>
    <div class="ad-nav">
      <div class="ad-thumbs">
        <ul class="ad-thumb-list">
          {% for picture in picture_list %}
          <li class="picture">
            <a href="/picture?_id={{ picture.id }}">
              <img src="/thumb?_id={{ picture.thumb.id }}" 
                alt="image not load correctly" 
              />
            </a>
            <div class="picture_data" style="display:none;">
              {% if picture.title %}
              <h1>{{ picture.title }}</h1> 
              {% endif %}
              <div class="left_col">
                {% if picture.author %}
                <div>{{ picture.author }}</div>
                {% endif %}
                {% if picture.width %}
                <div>{{ picture.width }}'' x {{picture.height}}''</div>
                {% endif %}
                {% if picture.media %}
                <div>{{ picture.media }}</div>
                {% endif %}
              </div>
              <div class="right_col">
                {% if picture.price %}
                <div>
                  <label>Price: </label>
                  <span>${{ picture.price }}</span>
                </div>
                {% endif %}
                {% if picture.original_available %}
                <div>
                  <strong>Original Still Available</strong> Contact 
                  <a href="mailto:info@janetwilliamsart.ca">Janet</a>
                </div>
                {% endif %}
                {% if picture.description %}
                <div>{{ picture.description }}</div>
                {% endif %}
              </div>
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>

  {% if admin %}
  <a href="">Edit current </a>
  <!-- admin edit/create gallery/picture information -->
  <div id="gallery_content">
    <h2>this is content in each page(this one is for create gallery)</h2>
    <form action="/porfolio?func=create_porfolio" method="post" 
      class="gallery_form">
      <div>
        <label for="title">Title</label>
        <input type="text" name="title" value="{{ form.fields.title }}"/>
      </div>
      <div>
        <label for="description">Description</label>
        <textarea name="description" cols="40" rows="10"
          >{{ form.fields.description }}</textarea>
      </div>
      {% if form.instance %}
        <input type="hidden" name="_id" value="{{ form.instance.id }}"/>
      {% endif %}
      <div>
        <a href="/" class="button">back</a>
        <input type="submit" class="button"
          value="{% if form.instance %}Edit{% else %}Create{% endif %}"/>
      </div>
    </form>
  </div>
  {% endif %}
</div>
{% endblock %}

{% block script %}
<script src="../../static/js/jquery.ad-gallery.js"></script>
<script type="text/javascript">
  $(function() {

    // set each picture's information: title, author ...
    $('.ad-thumb-list>.image').each(function(){
      var $this = $(this);
      $this.data('ad-desc', $this.find('.data').html());
    })
    var galleries = $('.ad-gallery').adGallery();
    
    $('#switch-effect').change(
      function() {
        galleries[0].settings.effect = $(this).val();
        return false;
      }
    );
    $('#toggle-slideshow').click(
      function() {
        galleries[0].slideshow.toggle();
        return false;
      }
    );
    $('#toggle-description').click(
      function() {
        if(!galleries[0].settings.description_wrapper) {
          galleries[0].settings.description_wrapper = $('#descriptions');
        } else {
          galleries[0].settings.description_wrapper = false;
        }
        return false;
      }
    );
  });
  </script>
{% endblock %}

