body {
    margin: 0 auto;
    padding: 0;
    background: gray;
    max-width: 960px;
}

#header {
    border: 1px solid red;
    width: 100%;
}

#content {
    border: 1px solid blue;
    width: 100%;
}

#footer {
    border: 1px solid green;
    width: 100%;
}
