
#gallery_content {
    border: 1px solid white;
    margin: 10px;
}

.gallery_form>div {
    padding: 5px;
}

.gallery_form>div>* {
    vertical-align: top;
}

.gallery_form>div>label {
    min-width: 80px;
    display: inline-block;
}
